<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie</title>
</head>
<body>
    <h1>{{ movie.title }}</h1>
    <button><a href="{% url 'movies:movie_list' %}">Back to List</a></button>
    <button><a href="{{ movie.get_update_url }}">Update</a></button>
    <h3>Director: {{ movie.director }}</h3>
    <h3>Release Year: {{ movie.release_year }}</h3>
    <h3>Genre: {{ movie.genre }}</h3>
    <button type="submit"><a href="{{ movie.get_delete_url }}">Delete</a></button>

</body>
</html>