<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>
<body>
    <h1>{% if movie %}Update Movie {% else %}Create Movie{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        <label for="title">Title</label>
        <input type="text" id="title" name="title" value="{{ movie.title }}">
        <br><br>
        <label for="director">Director</label>
        <input type="text" id="director" name="director" value="{{ movie.director }}">
        <br><br>
        <label for="release_year">Release Year</label>
        <input type="number" id="release_year" name="release_year" value="{{ movie.release_year }}">
        <br><br>
        <label for="genre">Genre</label>
        <input type="text" id="genre" name="genre" value="{{ movie.genre }}">
        <br><br>
        <button type="submit">{% if movie %}Update {% else %} Create{% endif %}</button>
        <br><br>

    </form>
    {% if movie %}
        <button><a href="{{ movie.get_detail_url}}">Back to Detail</a></button>
    {% else %}
         <button><a href="{% url 'movies:movie_list' %}">Back to List</a></button>
    {% endif %}
</body>
</html>