<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sports</title>
</head>
<body>
    <h1>{{ sport.event_name }}</h1>
    <button><a href="{% url 'sports:sport_list' %}">Back to List</a></button>
    <button><a href="{{ sport.get_update_url }}">Update</a></button>
    <h3>Location: {{ sport.location }}</h3>
    <h3>Date: {{ sport.date }}</h3>
    <h3>Sport Type: {{ sport.sport_type }}</h3>
    <button type="submit"><a href="{{ sport.get_delete_url }}">Delete</a></button>

</body>
</html>